/* Header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top_nav {
  padding: 1.2rem 0;
}
@media (max-width: 62em) {
  .top_nav {
    display: none;
  }
}
.top_nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_nav_list {
  display: flex;
  gap: 2rem;
}

.top_nav_link a{
  display: flex;
  gap: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all var(--main-transition);
}

.top_nav_link i{
  font-size: 1.6rem;
}

.top_nav_list--social{
  gap: .8rem;
}
.top_nav_list--social a{
  padding: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #000;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all var(--main-transition);
}

.top_nav_list--social i{
  color: #fff;
}

.nav {
  padding: 1rem 0;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav .container{
  justify-content: space-between;
}

.logo {
  width: 7rem;
  cursor: pointer;
}
.nav_list {
  justify-content: center;
  gap: 3.2rem;
  transition: all var(--main-transition);
  z-index: 2;
}
@media (max-width: 62em) {
  .nav_list {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: -2;
    overflow: hidden;
  }
}
.nav_list--active {
  padding: 3.2rem 0;
  height: 100%;
}
.nav_link {
  font-size: 1.8rem;
  color: var(--p-color2);
  cursor: pointer;
  transition: all var(--main-transition);
  position: relative;
}
.middle:hover {
  color: #ffffff;
}

@media (min-width: 62em) {
  .leader_link {
    display: none;
  }
}

.started_link {
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  border: .2rem solid #fff;
  justify-content: center;
}
.started_link:hover {
  color: var(--primary-color);
  background-color: #fff;
}
.nav_icon {
  width: 3rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
  cursor: pointer;
  transition: all var(--main-transition);
  z-index: 10;
}
@media (max-width: 62em) {
  .nav_icon {
    display: flex;
  }
}
.nav_icon span {
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  transition: all var(--main-transition);
}
.nav_icon--active span {
  height: 0.5rem;
}
.nav_icon--active span:first-child {
  transform: rotate(42deg);
  transform-origin: top left;
}
.nav_icon--active span:nth-child(2) {
  background-color: transparent;
}
.nav_icon--active span:last-child {
  transform: rotate(-42deg);
  transform-origin: bottom left;
}
/* Hero section */
.hero_section {
  padding: 11rem 0;
  color: #fff;
  background-image: url(../media/img2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.436);
}

.hero_section .container {
  flex-direction: column;
  position: relative;
}
.hero_heading {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  text-align: center;
}
@media (max-width: 62em) {
  .hero_heading {
    font-size: 4.8rem;
  }
}
@media (max-width: 32em) {
  .hero_heading {
    font-size: 3.6rem;
  }
}
.hero_parag {
  font-size: 2rem;
  line-height: var(--main-line-height);
  color: var(--p-color2);
  margin-bottom: 6.8rem;
  width: 80%;
  text-align: center;
}
@media (max-width: 62em) {
  .hero_parag {
    font-size: 1.8rem;
    margin-bottom: 6.4rem;
    width: auto;
  }
}
.prim_btn:hover {
  color: var(--primary-color);
  background-color: #fff;
  border-color: #fff;
}
.sec_btn:hover {
  color: var(--primary-color);
  background-color: #fff;
}
/* about Section */
.about_section {
  padding: var(--section-padding) 0;
}
.about_section .container {
  gap: 5.2rem;
}
@media (max-width: 62em) {
  .about_section .container {
    flex-direction: column;
  }
}
.about_section .main_heading {
  text-align: start;
  margin-bottom: 0;
}

@media (max-width: 62em) {
  .about_section .main_heading {
    margin-bottom: 4.8rem;
  }
}
.about_section .main_heading h2 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.about_section .main_heading h2 span {
  color: var(--primary-color);
}

.about_text {
  flex-basis: 50%;
}
.about_section p {
  text-align: start;
  color: var(--p-color1);
  margin-bottom: 3.2rem;
}
.about_section .prim_btn:hover {
  border-color: var(--primary-color);
}
.sec_btn:hover {
  color: var(--primary-color);
  background-color: #fff;
}

.about_img {
  flex-basis: 50%;
  /* border: 1.2rem solid; */
  /* border-image: linear-gradient(to right, var(--primary-color), var(--light-color)) 1; */
  border-radius: 1rem;
  overflow: hidden;
}
.about_img img {
  transform: scale(1.05);
}

/* features Section */
.features_section {
  padding: var(--section-padding) 0;
}
.features_section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  gap: 3.2rem;
}
.features_section .main_heading {
  text-align: center;
}
.features {
  padding: 3rem 2rem;
  border-radius: 1rem;
  /* background-color: var(--light-color); */
  border: .3rem solid var(--light-color);
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  transition: all var(--main-transition);
}
/* .features:nth-child(1) {
  transform: translateY(3rem);
}
.features:nth-child(2) {
  transform: translateY(6rem);
}
.features:nth-child(3) {
  transform: translateY(9rem);
}
.features:nth-child(4) {
  transform: translateY(12rem);
} */
.features i {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}
.features_section .sec_heading {
  margin-bottom: 2.4rem;
}
.features_section .parag {
  color: var(--p-color1);
  margin-bottom: 3.2rem;
  transition: all var(--main-transition);
}
.features_btn {
  font-size: 2rem;
  /* color: #fff; */
  width: fit-content;
  padding: 1.3rem 3rem;
  border: solid .1rem;
  border-radius: 0.5rem;
  transition: all var(--main-transition);
  justify-self: flex-end;
}
.features_btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
